<br />
<br />
<h3 class="text-center" >Enter Password To Continue</h3>

<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">

        <div class="card my-5">
          <div class="card-body cardbody-color p-lg-5">

            <div class="text-center">
              <% if current_user and current_user.avatar.attached? %>
                <%= image_tag(current_user.avatar, :transformation => { :width => 200,:height => 200, :crop => "pad" } ,class:"img-fluid profile-image-pic img-thumbnail rounded-circle my-3 avatar-pic") %>
              <% else %>
                  <%= image_tag('default_profile.jpg', :transformation => { :width => 200,:height => 200, :crop => "pad" } ,class:"img-fluid profile-image-pic img-thumbnail rounded-circle my-3 avatar-pic") %>
              <% end %>
            </div>

            <div class="mb-3">
              <div class="d-grid gap-2 col-6 mx-auto">
                <%= form_with url: user_path(current_user.id) , method: :patch, local: true, validate: true do |form| %>
                  <div class="row">
                    <div class="col-15">
                      <%= form.password_field :password,  placeholder:"Current Password", required: true, class:"form-control me-2 " %>
                    </div>
                  </div>
                  <div class="row currentpass-row">
                    <div class="col-8">
                      <%= form.submit "Change", class:"btn btn-outline-success " %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


